
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
border: 1px solid #ddd;
border-radius: 8px;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
width: 250px;
margin: 16px;
text-align: center;
transition: transform 0.3s;
}

.card:hover {
transform: scale(1.05);
}

.image {
width: 100%;
height: 150px;
object-fit: cover;
}

.details {
padding: 16px;
}

.name {
font-size: 1.5rem;
margin: 0;
}

.price {
color: #e94e77;
font-size: 1.2rem;
}

.description {
color: #555;
font-size: 1rem;
}

